<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting - Change Password</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/setting.css">
    <style media="print">
        html {
            visibility: hidden;
        }

        .printable-content {
            visibility: visible;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/settings">User</a></li>
        </ul>
        <div class="nav-button">
            <div class="username">
                <%= userName %>
            </div>
            <% if(state) { %>
                <a href="/logout">Logout</a>
            <% }else{ %>
                <a href="/login">Login</a>
            <% } %>
        </div>
    </nav>
    <h2 class="container">Settings</h2>
    <section class="setting-container container">
        <section class="navigation-panel">
            <ul>
                <li><a href="/setting/total-sale">Total Sale</a></li>
                <li><a href="/setting/total-party-sale">Total Party Sale</a></li>
                <li><a href="/setting/bill-sheet">Bill sheet</a></li>
                <li><a href="/setting/client-prize-invoice">Client Prize invoice</a></li>
                <li><a href="/setting/custom-draw">Custom Draw</a></li>
                <li><a href="/setting/change-password" class="bg-blue">Change Password</a></li>
            </ul>
        </section>
        <section class="setting-items">
            <header>
                <h3>Change Password</h3>
            </header>
            <main>
                <form action="/change-password" method="post">
                    <div class="main-container">
                        <div>
                            <label for="email">Email Address</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div>
                            <label for="pass">New Password</label>
                            <input type="password" id="pass" name="password" required>
                        </div>
                        <div>
                            <label for="cpass">Confirm Password</label>
                            <input type="password" id="cpass" name="cpassword" required>
                        </div>
                    </div>
            </main>
            <footer>
                <button type="submit">Confirm</button>
                </form>
            </footer>
        </section>
    </section>
</body>

<script>
    let messageFromBackend = `<%= message %>`;
    
    if(messageFromBackend === "hi"){
        console.log(messageFromBackend)
    }else{
        alert(messageFromBackend);
    }
</script>

</html>