<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <form action="/login-user" method="post">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <div class="register-container">
                    Don't have account -
                    <a href="/register">
                        Register
                    </a>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

<script>
    let messageFromBackend = `<%= message %>`;
    
    if(messageFromBackend === "hi"){
        console.log(messageFromBackend)
    }else{
        alert(messageFromBackend);
    }

</script>

</html>