<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting - Total Sale</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/setting.css">
    <style media="print">
        html {
            visibility: hidden;
        }

        .printable-content {
            visibility: visible;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/settings">User</a></li>
        </ul>
        <div class="nav-button">
            <div class="username">
                <%= userName %>
            </div>
            <% if(state) { %>
                <a href="/logout">Logout</a>
                <% }else{ %>
                    <a href="/login">Login</a>
                    <% } %>
        </div>
    </nav>
    <h2 class="container">Settings</h2>
    <section class="setting-container container">
        <section class="navigation-panel">
            <ul>
                <li><a href="/setting/total-sale" class="bg-blue">Total Sale</a></li>
                <li><a href="/setting/total-party-sale">Total Party Sale</a></li>
                <li><a href="/setting/bill-sheet">Bill sheet</a></li>
                <li><a href="/setting/client-prize-invoice">Client Prize invoice</a></li>
                <li><a href="/setting/custom-draw">Custom Draw</a></li>
                <li><a href="/setting/change-password">Change Password</a></li>
            </ul>
        </section>
        <section class="setting-items">
            <header>
                <h3>Total Sale Report</h3>
            </header>
            <main>
                <form action="/setting/total-sale" method="post" onsubmit="return checkForm()">
                    <div class="main-container">
                        <div>
                            <label for="draw-name">Draw Name</label>
                            <select id="draw-name" name="draw_name" value="None">
                                <option value="None">None</option>
                                <% drawNames.forEach(draw=> { %>
                                    <option value="<%= draw %>">
                                        <%= draw %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
            </main>
            <footer>
                <button type="submit">Get Data</button>
                </form>
            </footer>
        </section>
    </section>
</body>
<script>
    function checkForm(){
        if(document.getElementById("draw-name").value === "None"){
            alert("Please Select draw first");
            return false;
        }

        return true;
    }
</script>
</html>